<div class="container py-5">
	<div class="row d-flex">
		<div class="col-12">
			<div class="row">
				<div class="col-6 mx-auto">
					<div class="card rounded-0">
						<div class="card-header">
							<h3 class="mb-0 text-center">Pictionary</h3>
						</div>
						<div class="card-body">
							<form class="col justify-content-between" [formGroup]="registerForm"
								(ngSubmit)="submitForm()">
								<div class="row form-group">
									<label for="name">Nick Name:</label>
									<input class="form-control" type="text" id="name" aria-describedby="name"
										placeholder="Enter Nick Name" formControlName="name" required>
								</div>
								<div class="row justify-content-center">
									<button type="submit" class="col-4 btn btn-primary m-3"
										[disabled]="registerForm.invalid">Create Room</button>
									<button type=" submit" class="col-4 btn btn-primary m-3"
										[disabled]="registerForm.invalid">Join Room</button>
								</div>
							</form>
							<div class="row justify-content-around m-3">
								<label class="d-flex justify-content-center align-items-center col-3 px-0"
									for="link">Room
									Link:</label>
								<input #link class="form-control col-7 text-center" id="link" type="text"
									placeholder="Copy url" [(ngModel)]="roomLink" readonly>
								<button [ngClass]="'btn col-1 mx-1 btn-' + copyButtonBorder"
									(click)="copyToClipboard(link)">
									<i class="fa fa-copy"></i></button>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>
